venv
*.pyc

# the conf.py should be built from conf.py.in
doc/doc_python/source/conf.py

# cmake stuff
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CPack*.cmake

# vi stuff
*.sw[op]

# generated binaries
libyaafe-*.so*
src_cpp/yaafe-engine
